@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello Vaibhav <br />Welcome to the New world</h1>
    <p>Learn about <a href="https://erp.patrika.com">building Web apps with ASP.NET Core</a>.</p>
 </div>
